body{
    background-image: url("https://images.unsplash.com/photo-1623141629340-4686d65d60bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXRodW1ibmFpbHx8OGpkZ25ZSm9lVDR8fGVufDB8fHx8&dpr=1&auto=format&fit=crop&w=294&q=60");
    background-size: cover;
    background-repeat: no-repeat;
}