body{
    background-image: url("https://images.unsplash.com/photo-1627843240043-aa499ed215e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fDNkJTIwc2hhcGVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    color:black;
}
input{
    background-color: transparent;
}
    