body{
    background-image: url("https://images.unsplash.com/photo-1635185419485-dcef8aea2299?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y29tbWVudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    color:red;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
}