body{
    background-image: url("https://media.istockphoto.com/photos/pitch-word-made-with-colorful-felt-letters-picture-id1324886963?b=1&k=20&m=1324886963&s=170667a&w=0&h=vPGMJanQMkWg89g-8MefhuF_c_DBnbF8w8w7aL4YQxc=");
    background-size: cover;
    background-repeat: no-repeat;
    color:#f69d3c;
}